/* Projects.css */

.projects {
  /* Imposta l'immagine di sfondo per l'intera sezione */
  background-size: cover; /* Copre l'intera area, adattandosi e tagliando se necessario */
  background-position: center center; /* Centra l'immagine */
  background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
  background-attachment: fixed; /* L'immagine di sfondo rimane fissa durante lo scroll */
  padding: 60px 0; /* Aggiungi un po' di padding per distanziare il contenuto dal bordo dello sfondo */
  color: #fff; /* Assicurati che il testo sia leggibile sullo sfondo */
}

.projects h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
  color: #fff; /* O un colore che si abbini al tuo sfondo */
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* Padding laterale per la griglia */
}

