/* About.css */

/* Stile generale per la sezione About */
.about {
  padding: 0;
  color: #333;
  opacity: 0; /* Dichiarazione principale */
  transform: translateY(20px); /* Dichiarazione principale */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
}

.about.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.background-heading {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 45vh;
  text-align: center;
  position: relative;
  margin-top: 50px;
}

.background-heading h1 {
  font-size: 3.5em;
  margin-bottom: 15px;
  z-index: 1;
  color: #fff;
}

.subtitle {
  margin: 0px 0px;
  font-size: 1.3em;
  z-index: 1;
  color: #83858D;
}

.about .container {
  padding: 0px 30px 30px 30px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 40px;
  padding: 0 20px;
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #0e0e0e;
  height: auto;
  max-width: 400px;
  padding: 0px 10px;
  text-align: left;
  border: 0.9px solid #222222;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  width: 100%;
  margin: 0;
}

.section.right-align {
  align-self: flex-end;
}

.section.left-align {
  align-self: flex-start;
}

.section p,
.section h3 {
  color: white;
  padding: 10px;
}

.about-content h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 1.8em;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  color: white;
}

.about-content p {
  font-size: 1.1em;
  line-height: 1.8;
  margin-bottom: 25px;
  color: #d1d1d1;
}

/* --- Sezione Competenze (Skills) --- */
.skills {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}

.skills h4 {
  font-size: 23px;
  color: #ffff;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.skills-title {
  font-size: 35px;
}

.skills-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 0.9px solid #222222;
  border-radius: 15px;
  background-color: #0e0e0e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  flex: 1;
  min-width: 280px;
  max-width: 350px;
  margin-bottom: 30px;
}

.skills-group h3 {
  font-size: 1.6em;
  margin-bottom: 15px;
  color: #3498db;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.skills-group .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 30px;
  margin-bottom: 50px;
  justify-content: center;
  width: 100%;
}

.skills-group .skill-item {
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 0.95em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border: 1px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-group .skill-item:hover {
  background-color: #6210E5;
  border: #6210E5;
  transform: translateY(-2px);
}

.skills-group .skill-item.expanded {
  background-color: #6210E5;
  border: 1px solid #6210E5;
  color: white;
}

.skills-group .skill-description {
  font-size: 0.9em;
  color: #83858D;
  margin-top: 10px;
  padding: 15px;
  background-color: #450A05;
  border-radius: 8px;
  border: 1px solid #FF4F0F;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}

.skill-description.initial { opacity: 0; height: 0; }
.skill-description.animate { opacity: 1; height: auto; }
.skill-description.exit { opacity: 0; height: 0; }

/* --- Sezione Dettagli Personali --- */
.personal-details {
  margin-top: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #d1d1d1;
}

.personal-details h3 {
  font-size: 1.6em;
  margin-bottom: 15px;
  color: #3498db;
  font-weight: bold;
}

.personal-details ul {
  list-style: none;
  padding: 0;
}

.personal-details li {
  font-size: 1.1em;
  margin-bottom: 8px;
}

.personal-details strong {
  font-weight: bold;
  color: #fff;
  margin-right: 8px;
}

.personal-details a {
  color: #007bff;
  text-decoration: none;
}

.personal-details a:hover {
  text-decoration: underline;
}

/* --- Regole per il bottone "Text" / "Icons" (Toggle) --- */
/* Il contenitore più esterno del blocco dei pulsanti */
.toggle {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

/* Il contenitore con il bordo che avvolge i due pulsanti */
.toggle-container {
  display: flex;
  border: 2px solid #0F83FF;
  border-radius: 5px;
  overflow: hidden;
  width: fit-content;
  margin: 0 auto;
}

/* I singoli pulsanti "Text" e "Icons" */
.toggle-button {
  padding: 10px 15px;
  background-color: transparent;
  color: #83858D;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  font-size: 1rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-button:hover {
  background-color: #0F83FF;
  color: white;
}

.toggle-button.active {
  background-color: #0F83FF;
  color: white;
}

/* --- Sezione "Why me" --- */
.why-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.9px solid #222222;
  border-radius: 25px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 150px;
  background-color: #0e0e0e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.why-me-title {
  text-align: center;
  margin-bottom: 20px;
}

.why-me-title h2 {
  font-size: 50px;
  font-weight: 200;
  color: #fff;
  margin-bottom: 20px;
}

.why-me-title p {
  font-size: 16px;
  color: #83858D;
}

.why-me-button {
  padding: 10px 15px;
  border-radius: 50px;
  background: none;
  color: #fff;
  font-size: 10px;
  border: 0.9px solid #555;
}

.why-me-cards {
  padding: 20px;
  margin-top: 20px;
  color: #83858D;
  border: 0.9px solid #222222;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.why-me-cards h2 {
  color: white;
  margin-bottom: 20px;
}

.image-chisono {
  width: 550px;
  height: auto;
  margin-bottom: -85px;
  margin-left: -50px;
}

.image-cosa {
  width: 550px;
  height: auto;
  margin-bottom: -85px;
  margin-right: -50px;
}

.image-filosofia {
  width: 550px;
  height: auto;
  margin-bottom: -40px;
  margin-right: -50px;
}

.intro-flex-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 200px;
  padding-bottom: 100px;
  border-bottom: 0.9px solid #222222;
}

.last-intro-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 200px;
}

.portfolio-cta {
  display: flex; /* Utilizza Flexbox per il contenitore */
  justify-content: center; /* Centra orizzontalmente i suoi elementi figli */
  width: 100%; /* Assicura che occupi l'intera larghezza disponibile */
  margin-bottom: 50px;
  border-bottom: 0.9px solid #222222;
}

.portfolio-cta-text {
  text-align: center;
  max-width: 800px; /* Limita la larghezza massima del testo */
  margin: 40px auto 0; /* Questo ora centra il testo *all'interno* del suo div parent se il testo è più stretto del div. */
  background-color: #450A05;
  border: 0.9px solid #FF4F0F;
  padding: 10px 15px;
  border-radius: 5px;
  box-sizing: border-box;
}

/* --- Media Queries --- */


@media (max-width: 1024px) {
  .image-cosa, .image-chisono {
    width: 40vw; /* Usa la larghezza della viewport per fluidità */
    max-width: 400px; /* Limita la dimensione massima */
  }
}

@media (max-width: 768px) {
  .image-cosa, .image-chisono {
    width: 70vw; /* Più grande su mobile */
    max-width: 300px; /* Limita la dimensione massima su mobile */
    margin: 0 auto; /* Centra l'immagine se è da sola */
    display: block; /* Assicurati che sia un blocco per il margin auto */
  }

  .intro-flex-container{
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}
}
@media (max-width: 768px) {
  .skills {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .skills-group {
    width: 90%;
    max-width: 400px;
  }

  .skills-group .skills-row {
    justify-content: center;
    gap: 8px;
  }

  .skills-group .skill-item {
    font-size: 0.9em;
    padding: 8px 16px;
  }

  .about-content {
    align-items: center;
    padding: 0 10px;
    gap: 30px;
  }

  .section {
    max-width: 90%;
    margin: 0 auto;
  }

  .section.right-align,
  .section.left-align {
    align-self: center;
  }

  .personal-details {
    align-items: center;
    text-align: center;
  }

  /* Why me media query adjustments */
  .why-me {
    padding: 15px;
  }

  .why-me-button {
    font-size: 0.9em;
  }

  .why-me-title h2 {
    font-size: 35px;
  }

  .why-me-cards {
    width: 90%;
    padding: 15px;
  }

  .why-me-cards h2 {
    font-size: 1.3em;
  }
}

@media (max-width: 480px) {
  .skills {
    gap: 15px;
  }

  .skills-group {
    width: 100%;
    padding: 15px;
  }

  .skills-group .skill-item {
    font-size: 0.85em;
    padding: 6px 12px;
  }

  .about-content h2 {
    font-size: 2.2em;
  }

  .about-content h3 {
    font-size: 1.6em;
  }

  .about-content p {
    font-size: 1em;
    line-height: 1.6;
  }

  .personal-details li {
    font-size: 1em;
  }

  /* Why me media query adjustments */
  .why-me {
    padding: 10px;
  }

  .why-me-title h2 {
    font-size: 25px;
  }

  .why-me-cards {
    width: 100%;
    padding: 10px;
  }

  .why-me-cards h2 {
    font-size: 1.2em;
  }
}

