/* Contact.css */

.contact {
  padding: 80px 20px;
  text-align: center;
}

.contact .container {
  max-width: 700px;
  margin: 0 auto;
}

.contact h2 {
  font-size: 3.0em;
  margin-bottom: 30px;
  color: #fff;
  font-weight: bold;
}

.contact p {
  font-size: 1.2em;
  line-height: 1.8;
  color: #83858D;
  margin-bottom: 40px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.contact-info ul li {
  margin-bottom: 20px;
  font-size: 1.1em;
}

.contact-info strong {
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.contact-info a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.contact-info a:hover {
  text-decoration: underline;
  color: #2980b9;
}

/* Stili per il modulo di contatto opzionale */
.contact-form {
  margin-top: 40px;
  padding: 30px;
  border: 0.9px solid #222222;
  border-radius: 12px;
  background-color: #0e0e0e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  text-align: left;
}


.contact-form h3 {
  font-size: 1.8em;
  margin-bottom: 30px;
  color: #34495e;
  text-align: center;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  background-color: #27272733;
  border: 0.9px solid #222222;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  font-size: 1em;
  box-sizing: border-box;
  color: #83858D;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  outline: none; /* Rimuove il bordo blu predefinito */
  border: 0.9px solid #222222; /* Imposta il bordo al tuo colore normale anche al focus */
}

.contact-form textarea {
  resize: vertical;
  min-height: 150px;
}
.contact-form button[type="submit"] {
  background-color: #0F83FF;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
  background-color: #055fbe;
}