/* Footer.css */

.footer {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #0c0c0d;
  border-top: 0.9px solid #333;
  color: #f0f0f0;
  padding: 30px 20px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

.footer .container {
  display: flex;
  margin: 0 auto;
}

.footer p {
  margin: 10px 0;
}

.footer .social-links {
  margin-top: 20px;
}

.footer .social-links a {
  display: inline-block;
  margin: 0 15px;
}

.footer .social-links img {
  width: 32px;
  height: 32px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.footer .social-links img:hover {
  opacity: 1;
}

.author {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 40px;
}

/* Regole estratte e corrette dal blocco .author nidificato */
.author h4 {
  margin-bottom: 0px;
  color: #f0f0f0;
}

.author p {
  color: #83858D;
}

.author button {
  border-radius: 5px;
  border: 1px solid #333;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  padding: 5px 5px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.author button:hover {
  background-color: #0F83FF;
  transform: translateY(-2px);
}

.author button img {
  width: 30px;
  height: auto;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
  }

  .footer .container {
    justify-content: flex-end;
    margin: 0;
    flex-grow: 1;
    align-items: flex-end;
  }

  .author {
    margin-bottom: 0;
    text-align: left;
    align-items: flex-start;
  }
}