.footer {
  background-color: #24292e; /* Stesso sfondo scuro della navbar per coerenza */
  color: #f0f0f0; /* Testo più chiaro */
  padding: 30px 20px; /* Più padding verticale */
  text-align: center;
  font-size: 0.95em; /* Dimensione del font leggermente più grande */
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* Distribuisce il contenuto orizzontalmente */
  align-items: center; /* Allinea verticalmente gli elementi */
  flex-direction: column; /* Imposta la direzione principale a colonna per schermi piccoli */
}

.footer p {
  margin: 10px 0; /* Aggiunge un po' di margine sopra e sotto il paragrafo */
}

/* Stili opzionali per i link social */
.footer .social-links {
  margin-top: 20px;
}

.footer .social-links a {
  display: inline-block;
  margin: 0 15px; /* Più spazio tra le icone social */
}

.footer .social-links img {
  width: 32px; /* Icone social più grandi */
  height: 32px;
  vertical-align: middle;
  opacity: 0.8; /* Opacità leggermente maggiore */
  transition: opacity 0.3s ease;
}

.footer .social-links img:hover {
  opacity: 1;
}

/* Media query per schermi più grandi per disporre il contenuto in orizzontale */
@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer p {
    margin: 0; /* Rimuove il margine per la disposizione orizzontale */
  }

  .footer .social-links {
    margin-top: 0; /* Rimuove il margine superiore per la disposizione orizzontale */
  }
}