@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

footer {
  bottom: 0;
  left: 0;
  width: 100%;
}

body {
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  background-color: #0C0C0D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  margin: 0px 40px;
}

